#Thu, 02 May 2013 19:48:55 -0500
app.name=pmd

app.framework=touch

app.classpath=${app.dir}/app.js,${app.dir}/app

app.build.dir=${workspace.build.dir}/${app.name}

app.cmd.version=3.1.1.274
app.id=686f476b-6392-4bb1-8447-bf4e9692c80e
